
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<table class="table table-striped table-bordered">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>Andy</td>
        <td>Lee</td>
        <td>23</td>
    </tr>

</table>
